*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(image/pngtree-passion-volleyball-background-color-splash-banner-picture-image_236335.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid;
    background-size: cover;
    text-align: right;
}

.banner h2,
p {

    color: white;
}

.overlay {
    background: rgba(0, 0, 0, .5);
    height: 400px;

}